@use '../style/variables' as var

*
    box-sizing: border-box

body
    margin: 0
    padding: 0

h1, h2, h3, h4, h5, h6
    font-family: var.$font-primary
    color: var.$text-color

p, span, a, li, div
    font-family: var.$font-secondary
    color: var.$text-color